# Bot tokeni (@BotFather)
BOT_TOKEN=

# Adminlar telegram ID (vergul bilan)
ADMINS=

# PostgreSQL
DB_URL=postgresql+asyncpg://postgres:PAROL@localhost:5432/menu_builder_db

# Vaqt zonasi
TIMEZONE=Asia/Tashkent

# Excel har kuni qaysi vaqtda yangilansin
EXPORT_HOUR=0
EXPORT_MINUTE=5
